/* Default theme */
:root,
.theme-dark {
  --tc-primary: #232323;
  --tc-primary-hover: #2d2d2d;
  --tc-background: #373838;
  --tc-background-hover: #ffffff26;
  --tc-background-read-only: #444444;
  --tc-background-disabled: #444444;
  --tc-foreground: #ededed;
  --tc-border: #444444;

  --tc-disabled: #99a1af;
  --tc-read-only: #d1d5dc;

  --tc-checkbox-disabled: #99a1af;
  --tc-checkbox-bg-disabled: #444444;

  --tc-button-selected-bg: #555555;
  --tc-button-foreground-muted: #ededed;
  --tc-button-foreground: #ffffff;

  --tc-dropdown-item-hover: #333333;
  --tc-dropdown-item-selected: #444444;
  --tc-dropdown-menu-border: #555555;

  --tc-page-gradient: linear-gradient(
    to right bottom,
    #2e2e2e,
    #303030,
    #313131,
    #333333,
    #353535,
    #343434,
    #323232,
    #313131,
    #2c2c2c,
    #282828,
    #232323,
    #1f1f1f
  );

  --tc-modal-content-box-shadow: 2px 8px 6px #111111aa;
}

/* Light theme */
.theme-light {
  --tc-primary: #ffffff;
  --tc-primary-hover: #f5f5f5;
  --tc-background: #fafafa;
  --tc-background-hover: #0000001a;
  --tc-background-read-only: #f5f5f5;
  --tc-background-disabled: #e8e8e8;
  --tc-foreground: #1a1a1a;
  --tc-border: #d4d4d4;

  --tc-disabled: #9ca3af;
  --tc-read-only: #6b7280;

  --tc-checkbox-disabled: #9ca3af;
  --tc-checkbox-bg-disabled: #e8e8e8;

  --tc-button-selected-bg: #e5e5e5;
  --tc-button-foreground-muted: #1a1a1a;
  --tc-button-foreground: #000000;

  --tc-dropdown-item-hover: #f0f0f0;
  --tc-dropdown-item-selected: #e5e5e5;
  --tc-dropdown-menu-border: #d4d4d4;

  --tc-page-gradient: linear-gradient(
    to right bottom,
    #f5f5f5,
    #f3f3f3,
    #f1f1f1,
    #efefef,
    #ededed,
    #ebebeb,
    #e9e9e9,
    #e7e7e7,
    #e5e5e5,
    #e3e3e3,
    #e1e1e1,
    #dfdfdf
  );

  --tc-modal-content-box-shadow: 2px 8px 6px #111111aa;
}

/* Black theme */
.theme-black {
  --tc-primary: #0a0a0a;
  --tc-primary-hover: #1f1f1f;
  --tc-background: #000000;
  --tc-background-hover: #ffffff1a;
  --tc-background-read-only: #1a1a1a;
  --tc-background-disabled: #1a1a1a;
  --tc-foreground: #f5f5f5;
  --tc-border: #262626;

  --tc-disabled: #737373;
  --tc-read-only: #a3a3a3;

  --tc-checkbox-disabled: #737373;
  --tc-checkbox-bg-disabled: #1a1a1a;

  --tc-button-selected-bg: #2a2a2a;
  --tc-button-foreground-muted: #f5f5f5;
  --tc-button-foreground: #ffffff;

  --tc-dropdown-item-hover: #1a1a1a;
  --tc-dropdown-item-selected: #2a2a2a;
  --tc-dropdown-menu-border: #262626;

  --tc-page-gradient: linear-gradient(
    to right bottom,
    #0f0f0f,
    #0e0e0e,
    #0d0d0d,
    #0c0c0c,
    #0b0b0b,
    #0a0a0a,
    #090909,
    #080808,
    #060606,
    #050505,
    #030303,
    #000000
  );

  --tc-modal-content-box-shadow: 2px 8px 6px #111111aa;
}
